#treeViewContainer {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#myNavCubeCanvas {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    background-color: transparent;
}
