body, html {
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}

#treeViewContainer {
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-right: 1px solid #ccc;
}

#treeViewContainer ul {
    list-style-type: none;
    padding-left: 20px;
}

#treeViewContainer ul li span {
    display: block;
    padding: 5px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#treeViewContainer ul li span:hover {
    background-color: #e0e0e0;
    color: #007bff;
}

#treeViewContainer ul li span.selected {
    background-color: #007bff;
    color: white;
}
